---
import { Image } from "astro:assets";
const responseAbout = await fetch(
  "https://young-gift-22aff10d38.strapiapp.com/api/home-about",
);

const dataAbout = await responseAbout.json();

const homeAbout = dataAbout.data;
import image from "../../assets/opdagDanmarkInfo.png";
---

<section class="aboutUs-section">
  <Image
      class="hero-img"
      src={image}
      alt="Billede af en rød og hvid VW T1 med Opdag Danmark skrevet på siden"
      widths={[400, 800, 1200]}
      format="webp"
      loading="lazy"
    />
  <article>
    <h4>{homeAbout.type}</h4>
    <h2>{homeAbout.title}</h2>
    <h3 class="subtitle">{homeAbout.subtitle}</h3>
    <p>{homeAbout.content}</p>
    <a href="#">{homeAbout.cta}</a>

    <p>{homeAbout.greeting}</p>
    <div class="flex signature">
      <h3>{homeAbout.signature}</h3>
      <p class="line">|</p>
      <h3 class="role">{homeAbout.role}</h3>
    </div>
  </article>
</section>

<style>
  .aboutUs-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    align-items: center;

    color: var(--primary-700);

    .hero-img {
      object-fit: cover;
      border-radius: var(--round-min);
      width: 100%;
      height: auto;
    }

    h2 {
      font-size: 3rem;
    }

    .subtitle {
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 25px;
      margin-block: 10px;
    }

    h4 {
      text-transform: uppercase;
    }

    p {
      font-size: var(--font-size-400);
    }

    a {
      color: var(--primary-700);
      font-size: var(--font-size-400);
    }

    .line {
    }
  }

  @media screen and (max-width: 1199px) {
    .aboutUs-section {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
