---
import ArrowRight from "phosphor-astro/ArrowRight.astro";
import CardArticle from "../elements/CardArticle.astro";
import imgBlokhusStrand from "../../assets/blokhusStrand.webp";
import imgVaeggerloseStrand from "../../assets/vaeggerloseStrand.jpg";
import imgGlamping from "../../assets/glamping.jpg";
---

<section class="selected-articles-section flex">
  <div class="selected-articles-header flex">
    <h2>Udvalgte Artikler</h2>
    <a class="see-all-link flex" href="#"
      >Se alle artikler <ArrowRight width={16} height={16} /></a
    >
  </div>
  <div class="articles-grid">
    <CardArticle
      heading="Dyp tæerne ved blokhus"
      subheading="Gå en tur i sandet, bad i bølgerne eller se solen gå ned over Vesterhavet"
      src={imgBlokhusStrand}
      href={`${import.meta.env.BASE_URL}artikler/blokhus`}
    />

    <CardArticle
      heading="Oplev natur og strand ved Væggerløse"
      subheading="Danmarks bedste strande. Ud over den ideelle beliggenhed tæt på frisk luft og saltvand er feriehuset også tæt på butikker og det hyggelige feriested Marielyst."
      src={imgVaeggerloseStrand}
      href={`${import.meta.env.BASE_URL}artikler/blokhus`}
    />

    <CardArticle
      heading="Glamping hos Naturlig på Korsgaarden"
      subheading="Blot halvanden times kørsel fra København, finder du de naturskønne og afslappede rammer om Naturlig på Korsgaarden."
      src={imgGlamping}
      href={`${import.meta.env.BASE_URL}artikler/blokhus`}
    />

    <article class="article-card flex">
      <div class="article-card-content">
        <h2>Udforsk det vidunderlige danmark</h2>
        <h3>Få inspiration til nye oplevelser - lige uden for døren</h3>
      </div>
      <p>
        Danmark er et yndigt land, fyldt med smukke landskaber, hyggelige byer
        og skjulte perler; fra hvide sandstrande og grønne skove til historiske
        slotte og lokale oplevelser. Gennem vores artikler kan du gå på
        opdagelse i alt det, Danmark har at byde på, og finde inspiration til
        din næste rejse - uden at skulle rejse sydpå for at få en uforglemmelig
        sommer.
      </p>

      <a class="see-all-link flex" href="#"
        >Se alle artikler <ArrowRight width={16} height={16} />
      </a>
    </article>
  </div>
</section>

<style>
  .selected-articles-section {
    flex-direction: column;
    gap: 1.5rem;
  }

  .see-all-link {
    text-decoration: none;
    color: var(--primary-500);
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    &:hover {
      color: var(--accent-500);
    }
  }
  .selected-articles-header {
    justify-content: space-between;
    align-items: end;
    h2 {
      color: var(--primary-700);
      font-size: 2.5rem;
    }
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .article-card {
    cursor: pointer;
    height: fit-content;
    border: 1px solid var(--secondary-500);
    border-radius: var(--round-general);
    background: var(--secondary-200-t2);
    color: var(--secondary-500);
    padding: 1.5rem 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    outline: 1px solid var(--greyscale-100);
    transition: all 200ms ease-in-out;

    &:hover {
      background: var(--primary-200-t1);
      outline: 1px solid var(--primary-500-t2);
      color: var(--primary-600);
      border-color: var(--primary-500);
      outline-offset: 0.5rem;
      transform: scale(0.99);
      box-shadow: rgba(31, 30, 61, 0.13) 0px 2px 8px 0px;

      .see-all-link {
        color: var(--accent-500);
        border-color: var(--accent-500);
      }
    }

    .see-all-link {
      width: fit-content;
      border-bottom: 1px solid var(--secondary-500);
      color: var(--secondary-500);
    }

    .article-card-content {
      h3 {
        font-style: italic;
        font-size: 1rem;
        padding: 0.25rem 0 0;
        font-weight: 400;
        line-height: 100%;
      }
    }

    p {
      font-weight: 400;
      font-size: 0.7rem;
    }

    h2 {
      font-size: 1rem;
      text-transform: capitalize;
    }
  }

  .article-card-buttons,
  .article-card-content {
    z-index: 2;
  }

  @media screen and (min-width: 1200px) {
    .articles-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 1rem;
    }

    .article-card {
      height: 20rem;
      padding: 2rem 1.5rem;
      gap: auto;

      .article-card-content {
        h3 {
          font-style: italic;
          font-size: 1.2rem;
          padding: 0.25rem 0 0;
          font-weight: 400;
          line-height: 100%;
        }
      }

      p {
        font-weight: 400;
        font-size: 1rem;
      }

      h2 {
        font-size: 1.8rem;
        text-transform: capitalize;
      }
    }
  }
</style>
