---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import Bike from "phosphor-astro/PersonSimpleBike.astro";
import Dog from "phosphor-astro/Dog.astro";
import Walking from "phosphor-astro/PersonSimpleWalk.astro";

export async function getStaticPaths() {
  const response = await fetch(
    "https://young-gift-22aff10d38.strapiapp.com/api/products?populate=*"
  );
  const data = await response.json();
  const products = data.data;

  return products.map((product: any) => ({
    params: { slug: product.title.toLowerCase() },
    props: { product },
  }));
}

const { product } = Astro.props;
const title = product.title;
const brand = product.brands;
const price = product.price;
const oldPrice = product.oldPrice;
const about = product.about.description;
const access = product.access.details;
const terms = product.terms.terms_and_conditions;
const images = product.images;
const highlights = product.highlights;
const coverImage = images[0].formats.large.url;
const categories = product.categories;

const tag = product.categories[0].name;

let tagColor = "";
let tagBgColor = "";

if (tag === "Restaurantoplevelse") {
  tagColor = "var(--secondary-500)";
  tagBgColor = "var(--secondary-200)";
} else if (tag === "Vandrerute") {
  tagColor = "var(--utility-500)";
  tagBgColor = "var(--utility-300)";
} else if (tag === "Ophold") {
  tagColor = "var(--accent-500)";
  tagBgColor = "var(--accent-100)";
} else if (tag === "Nordjylland" || tag === "Midtjylland") {
  tagColor = "var(--primary-600)";
  tagBgColor = "var(--primary-100)";
}

const categorySymbols = {
  t_cycling: Bike,
  t_dog_leashed: Dog,
  t_walking: Walking,
};
---

<script client:load>
  function showTab(id) {
    const allTabs = document.querySelectorAll(".tab-content");
    allTabs.forEach((tab) => (tab.style.display = "none"));

    const tabToShow = document.getElementById(id);
    if (tabToShow) tabToShow.style.display = "block";
  }
</script>

<Layout>
  <section>
    <article class="product-imgs-container">
      <img
        class="product-cover-img"
        src={coverImage}
        alt={title}
        class="product-image"
      />
      <div class="product-small-imgs">
        {
          images.map((img) => (
            <img src={img.formats.small.url} alt={title} width="100" />
          ))
        }
      </div>
    </article>

    <article>
      <div class="product-tags-container">
        <div
          class="product-tag"
          style={{
            backgroundColor: tagBgColor,
            border: `2px solid ${tagColor}`,
            padding: "3px 7px",
            borderRadius: "50px",
            width: "105px",
          }}
        >
          <p
            style={{
              color: tagColor,
            }}
          >
            {tag}
          </p>
        </div>
        <div class="product-categories">
          {
            categories.map((category) => {
              const IconComponent = categorySymbols[category.name];
              return IconComponent ? (
                <span title={category.name} class="product-category-icon">
                  <IconComponent
                    width="24"
                    height="24"
                    color="var(--secondary-500)"
                  />
                </span>
              ) : null;
            })
          }
        </div>
      </div>
      <h1>{title}</h1>
      <p class="product-brand">{brand}</p>
      <article class="highlights">
        {
          highlights.length > 0 &&
            highlights.map((highlight) => {
              if (highlight.__component === "highlights.poi") {
                return (
                  <div>
                    <p>{highlight.type_of_poi}</p>
                    <h3>Type</h3>
                    <p>{highlight.stops}</p>
                    <h3>Stops</h3>
                  </div>
                );
              }

              if (highlight.__component === "highlights.distance") {
                return (
                  <div>
                    <p>
                      {highlight.length} {highlight.distanceUnit}
                    </p>
                    <h3>Længde</h3>
                  </div>
                );
              }

              if (highlight.__component === "highlights.duration") {
                return (
                  <div>
                    <p>
                      {highlight.hours}
                      {highlight.tim} {highlight.minutes}
                      {highlight.min}
                    </p>
                    <h3>Varighed</h3>
                  </div>
                );
              }
            })
        }
      </article>

      <div>
        <div class="tabs">
          <div class="tab-buttons">
            <button onclick="showTab('about')">Om</button>
            <button onclick="showTab('access')">Adgang</button>
            <button onclick="showTab('terms')">Betingelser</button>
          </div>

          <div class="tab-content" id="about" style="display: block;">
            {about.map((paragraph) => <p>{paragraph.children[0].text}</p>)}
          </div>

          <div class="tab-content" id="access" style="display:none">
            <p>{access}</p>
          </div>

          <div class="tab-content" id="terms" style="display:none">
            <p>{terms}</p>
          </div>
        </div>
      </div>
      <div>
        <p>{oldPrice}</p>
        <p>{price}</p>
        <button>Tilføj til kurv</button>
        <button></button>
      </div>
    </article>
  </section>
</Layout>

<style>
  .product-imgs-container {
  }

  .product-cover-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .product-small-imgs {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    img {
      height: 70px;
      width: 70px;
      object-fit: cover;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .product-tags-container {
    display: flex;
    align-items: center;
  }

  .product-category {
    margin-right: 50px;
  }

  .product-category-icon {
    background-color: var(--secondary-200-t2);
    border-radius: 50%;
    padding: 5px;
    display: inline-flex;
    border: 1px solid var(--secondary-500);
    margin-inline: 4px;
  }

  h1 {
    font-size: var(--font-size-700);
    font-weight: var(--text-400);
  }

  .product-brand {
    font-weight: var(--text-300);
    margin-bottom: 20px;
  }

  .highlights div {
    padding: 30px 20px;
    text-align: center;
  }
</style>
