---
const { product } = Astro.props;
const title = product.title;
const slug = product.title.toLowerCase();
const imageUrl = product.images[0].formats.small.url;
const brand = product.brands;
const price = product.price;
---

<article class="product-card">
  <a href={`/produkter/${slug}`}>
    <img src={imageUrl} alt={title} />
    <p>{brand}</p>
    <h3>{title}</h3>
    <p>{price} kr.</p>
  </a>
</article>
